<!--FORM-FILL: Permitir al usuario compartir en rsss la tarjeta ya creada -->

<fieldset class="central-column">
  <div class="headerfill">
    <i class="fa-solid fa-share-nodes"></i>
    <h3 class="headerfill__title">comparte</h3>
    <i class="fa-solid fa-angle-down"></i>
  </div>
  <button class="share__button">
    <i class="fa-regular fa-address-card"></i>crear targeta
  </button>
</fieldset>
<fieldset>
  <p>la tarjeta a sido creada:</p>
  <button class="rrss__button1">
    <i
      class="fa-brands fa-linkedin"
      style="color: #0f56d2"
    ></i
    >compartir en LinkedIn
  </button>
  <button class="rrss__button2">
    <i
      class="fa-brands fa-twitter"
      style="color: #ffffff"
    ></i
    >compartir en twitter
  </button>
  <button class="rrss__button2">
    <i
      class="fa-brands fa-instagram"
      style="color: #ffffff"
    ></i
    >compartir en instagram
  </button>
</fieldset>
