<fieldset class="central-column">
  <div class="headerdesign js__design">
    <i class="fa-sharp fa-regular fa-object-ungroup"></i>
    <h3 class="headerdesign__title">DISEÑA</h3>
    <i class="fa-solid fa-angle-down rotate js_arrow-1"></i>
  </div>

  <div class="contentdesign js__design__container">
    <h3 class="contentdesign__title">COLORES</h3>
    <div class="contentdesign__options">
      <label for="design1" class="design1">
        <input class="js_radio js_radio-1" id="design1" type="radio" name="palette" checked />
        <div class="design1__palette">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
        </div>
      </label>
      <label for="design2" class="design2">
        <input class="js_radio js_radio-2" id="design2" type="radio" name="palette" />
        <div class="design2__palette">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
        </div>
      </label>
      <label for="design3" class="design3">
        <input class="js_radio js_radio-3" id="design3" type="radio" name="palette" />
        <div class="design3__palette">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
        </div>
      </label>
      <label for="design4" class="design4">
        <input class="js_radio js_radio-4" id="design4" type="radio" name="palette" />
        <div class="design4__palette">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
        </div>
      </label>
    </div>
  </div>
</fieldset>