<fieldset class="central-column">
  <div class="headerfill border js__share">
    <i class="fa-solid fa-share-nodes"></i>
    <h3 class="headerfill__title">comparte</h3>
    <i class="fa-solid fa-angle-down js_arrow-3"></i>
  </div>
  <span class="span__share collapsed js__share__container">
    <button class="share__button js__shareBtn">
      <i class="fa-regular fa-address-card"></i>
      crear tarjeta
    </button>
    <p class="text__created js_msg-error"></p>
  </span>
  <div class="border"></div>
  <fieldset class="buttons__rrss collapsed js__share__container2">
    <p class="text__created js_success-msg"></p>
    <a href="" target="_blank" class="imagen_creada js_url"></a>
    <a class="rrss__button js_btnTw" href="" target="_blank">
      <span> <i class="fa-brands fa-twitter" style="color: #ffffff"></i> </span
      >Compartir en Twitter
    </a>
  </fieldset>
  <div class="border js__share__border3"></div>
</fieldset>
