<fieldset class="central-column js__fill">
  <div class="headerfill border">
    <i class="fa-regular fa-keyboard"></i>
    <h3 class="headerfill__title">rellena</h3>
    <i class="fa-solid fa-angle-down js_arrow-2"></i>
  </div>
  <div class="contentfill collapsed js__fill__container">
    <label class="contentfill__label" for="name">Nombre completo</label>
    <input
      class="contentfill__input js__name js_input"
      placeholder="Ej: Sally Jill"
      id="name"
      type="text"
      name="name"
    />
    <label class="contentfill__label" for="job">Profesión</label>
    <input
      class="contentfill__input js__job"
      placeholder="Ej: Desarrolladora front-end"
      id="job"
      type="text"
      name="job"
    />

    <label class="contentfill__label" for="hidden__addfile"
      >Imagen de perfil</label
    >
    <div class="profile">
      <div class="add__image">
        <input
          class="contentfill__input js__profile-upload-btn"
          hidden
          id="hidden__addfile"
          type="file"
          name="hidden__addfile"
          value="Añadir imagen"
        />
        <input
          class="contentfill__input buttonaddimg js__profile-upload-btn2"
          type="button"
          name="visible__forAddFile"
          value="Añadir imagen"
        />
      </div>
      <div class="profile__preview js__red-preview"></div>
    </div>
    <label class="contentfill__label" for="email">Correo electrónico</label>
    <input
      class="contentfill__input js__email"
      placeholder="Ej: sally-hill@gmail.com"
      id="email"
      type="email"
      name="email"
    />
    <label class="contentfill__label" for="phone">Teléfono</label>
    <input
      class="contentfill__input js__telephone"
      placeholder="Ej: 555-55-55-55"
      id="phone"
      type="tel"
      name="phone"
    />
    <label class="contentfill__label" for="linkedin">Linkedin</label>
    <input
      class="contentfill__input js__linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
      id="linkedin"
      type="url"
      name="linkedin"
    />
    <label class="contentfill__label" for="github">Github</label>
    <input
      class="contentfill__input js__github"
      placeholder="Ej: @sally-hill"
      id="github"
      type="text"
      name="github"
    />
  </div>
</fieldset>
