<fieldset class="central-column">
  <div class="headerfill border js__share">
    <i class="fa-solid fa-share-nodes"></i>
    <h3 class="headerfill__title">comparte</h3>
    <i class="fa-solid fa-angle-down js_arrow-3"></i>
  </div>
  <span class="span__share collapsed js__share__container">
    <button class="share__button">
      <i class="fa-regular fa-address-card"></i>
      crear tarjeta
    </button>
  </span>
  <div class="border"></div>
  <fieldset
    class="buttons__rrss collapsed js__share__container2"
  >
    <p class="text__created">la tarjeta ha sido creada:</p>
    <p class="imagen_creada">http de la tarjeta creada</p>
    <button class="rrss__button1">
      <span>
        <i
          class="fa-brands fa-linkedin"
          style="color: #0f56d2"
        ></i> </span
      >Compartir en LinkedIn
    </button>
    <button class="rrss__button2">
      <span>
        <i
          class="fa-brands fa-twitter"
          style="color: #ffffff"
        ></i> </span
      >Compartir en Twitter
    </button>
    <button class="rrss__button3">
      <span>
        <i
          class="fa-brands fa-instagram"
          style="color: #ffffff"
        ></i> </span
      >Compartir en Instagram
    </button>
  </fieldset>
  <div class="border js__share__border3"></div>
</fieldset>
