<fieldset class="central-column js__fill">
  <div class="headerfill border">
    <i class="fa-regular fa-keyboard"></i>
    <h3 class="headerfill__title">fill</h3>
    <i class="fa-solid fa-angle-down js_arrow-2"></i>
  </div>
  <div class="contentfill collapsed js__fill__container">
    <label class="contentfill__label" for="name">Full name*</label>
    <input
      class="contentfill__input js__name js_input"
      placeholder="E.g.: Sally Jill"
      id="name"
      type="text"
      name="name"
    />
    <label class="contentfill__label" for="job">Job*</label>
    <input
      class="contentfill__input js__job"
      placeholder="E.g.: Front-end developer"
      id="job"
      type="text"
      name="job"
    />

    <label class="contentfill__label" for="hidden__addfile"
      >Profile image*</label
    >
    <div class="profile">
      <div class="add__image">
        <input
          class="contentfill__input js__profile-upload-btn"
          hidden
          id="hidden__addfile"
          type="file"
          name="hidden__addfile"
          value="Add image"
        />
        <label class="contentfill__input buttonaddimg" for="hidden__addfile"
          >Add image</label
        >
      </div>
      <div class="profile__preview js__red-preview"></div>
    </div>
    <label class="contentfill__label" for="email">Email*</label>
    <input
      class="contentfill__input js__email"
      placeholder="E.g.: sally-hill@gmail.com"
      id="email"
      type="email"
      name="email"
      pattern="/^[^@]+@[^@]+\.[a-zA-Z]{2,}$/"
      required="required"
    />
    <label class="contentfill__label" for="phone">Telephone</label>
    <input
      class="contentfill__input js__telephone"
      placeholder="E.g.: 555-55-55-55"
      id="phone"
      type="tel"
      name="phone"
    />
    <label class="contentfill__label" for="linkedin">LinkedIn</label>
    <input
      class="contentfill__input js__linkedin"
      placeholder="E.g.: linkedin.com/in/sally.hill"
      id="linkedin"
      type="url"
      name="linkedin"
    />
    <label class="contentfill__label" for="github">Github</label>
    <input
      class="contentfill__input js__github"
      placeholder="E.g.: @sally-hill"
      id="github"
      type="text"
      name="github"
    />
    <small class="msg_fieldRequired">Required fields*</small>
  </div>
</fieldset>
