<main class="landing">
  <article class="landing__article">
    <h1 class="landing__h1">Crea tu tarjeta de visita</h1>
    <p class="landing__p">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <ul class="landing__icons">
      <li><i class="landing__icons--icon fa-sharp fa-regular fa-object-ungroup"></i>Diseña</li>
      <li><i class="landing__icons--icon fa-regular fa-keyboard"></i>Rellena</li>
      <li><i class="landing__icons--icon fa-solid fa-share-nodes"></i>Comparte</li>
    </ul>
    <a class="landing__button" href="./profile.html" title="Profile" target="_blank">Comenzar</a>
  </article>
</main>
