<main class="landing">
  <article class="landing__article">
    <h1 class="landing__article--h1">
      Accelerating Women's Success in Technology
    </h1>
    <p class="landing__article--p">
      Discover the greatest advances in technology from the most innovative
      platform
    </p>
    <p class="landing__article--msg">Self-personalized access ID card</p>
    <ul class="landing__article--icons">
      <li><i class="icon fa-solid fa-palette"></i>Diseña</li>
      <li><i class="icon fa-regular fa-keyboard"></i>Rellena</li>
      <li><i class="icon fa-solid fa-share-nodes"></i>Comparte</li>
    </ul>
    <a
      class="landing__article--button"
      href="./profile.html"
      title="Profile"
      target="_blank"
      >Comenzar</a
    >
  </article>
</main>
