<main class="landing">
  <article class="landing__article">
    <h1 class="landing__article--h1">Crea tu tarjeta de visita</h1>
    <p class="landing__article--p">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <ul class="landing__article--icons">
      <li><i class="icon fa-solid fa-palette"></i>Diseña</li>
      <li><i class="icon fa-regular fa-keyboard"></i>Rellena</li>
      <li><i class="icon fa-solid fa-share-nodes"></i>Comparte</li>
    </ul>
    <a
      class="landing__article--button"
      href="./profile.html"
      title="Profile"
      target="_blank"
      >Comenzar</a
    >
  </article>
</main>
