<section class="preview">
  <article class="card__preview columnsection1">
    <button class="preview__button">
      <i class="fa-regular fa-trash-can" class="preview__button-icon"></i>
      reset
    </button>
    <article class="card js__preview">
      <div class="container_namedescription">
        <h3 class="card__name js__preview_name">nombre apellido</h3>
        <p class="card__description js__description">Front-end developer</p>
      </div>
      <img class="card__img" src="./assets/images/tica.jpg" alt="" />
      <nav class="card__nav">
        <a class="card__icon js__preview_mail" href=""><i class="fa-regular fa-envelope"></i></a>
        <a class="card__icon js__preview_telephone" href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
        <a class="card__icon js__preview_linkedin" href=""><i class="fa-brands fa-linkedin-in"></i></a>
        <a class="card__icon js__preview_github" href=""><i class="fa-brands fa-github-alt"></i></a>
      </nav>
    </article>
  </article>
</section>