<section class="preview">
    <article class="columnsection1">
        <button class="preview__button"><i class="fa-regular fa-trash-can" class="preview__button-icon"></i>
            reset
        </button>
        <article class="card">
            <h3 class="card__name">nombre apellido</h3>
            <p class="card__description">Front-end developer</p>
            <img class="card__img"src="./assets/images/tica.jpg" alt=""/>
            <div clas="card__icons">
              <i clas="card__icons--i" class="fa-solid fa-mobile-screen-button"></i>
              <i clas="card__icons--i" class="fa-regular fa-envelope"></i>
              <i clas="card__icons--i" class="fa-brands fa-linkedin-in"></i>
              <i clas="card__icons--i" class="fa-brands fa-github-alt"></i>
            </div>
        </article>
    </article>
</section>