:root {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
/*COLORES*/
$light-khaki: #f9f4dc;
$black-20: rgba(0, 0, 0, 0.2);
$tomato: #e95626; //palette two
$dried-blood: #420101; //palette two
$rusty-red: #bd1010; //palette two
$faded-orange: #eab052; //palette three
$light-grey-blue: #a0c0cf; //palette three
$azure: #00a0f5;
$white: #d5d5d5;
$black: #000;
$gunmetal: #54585a; // font color (letras de rellena....
$brownish-grey: #6b6b6b; //color copy footer
$slate: #3e5b65; //palette three
$white-two: #fff; //background color input and target
$hospital-green: #a2deaf; //palette one -border input
$silver: #bfcdd0; //background section target
$pale-grey: #dde9ed; //background section target
$dark-green-blue: #114e4e; //palette one and letras de input
$dirty-blue: #438792; //palette one
$dull-orange: #e17334; //principal color
$white-three: #d8d8d8;
$white-four: #f5f5f5; //background landing and main oage two

$pinkish-grey: #c5c5c5;
$black-32: rgba(0, 0, 0, 0.32);

// PALETA EXTRA DE COLORES:
// Según el enunciado,también pone: Creatividad: Añadir más paletas a las definidas en el diseño,pero no eliminar las que os proponemos;) Tomada desde esta web: https: //coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8

$honolulu-blue: #0077b6; //palette four
$pacific-cyan: #00b4d8; //palette four
$non-photo-blue: #90e0ef; //palette four

/*TIPOGRAFIAS*/
$font-main-title: 'Merriweather', serif;
$font-secondary: 'Montserrat', sans-serif;
