:root {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

/*TIPOGRAFIAS*/
$font-main-title: 'Merriweather', serif;
$font-secondary: 'Montserrat', sans-serif;
$font-secondary2: 'Bebas Neue',sans-serif;
$font-secondary3: 'Libre Caslon Display',serif;
$font-secondary4: 'Libre Caslon Text',serif;

/*COLORES*/

// Landing
$landing-header-bgd: #f5f5f5;
$landing-main-bgd: #f5f5f5;
$landing-title: black;
$landing-subtitle: rgb(49, 49, 49);
$landing-box-text: #c93825;
$landing-box-border: #c93825;
$landing-box-border2: #2f9f8d;
$landing-icon: #2f9f8d;
$landing-btn-text: #fff;
$landing-btn-bgd: #2f9f8d;
$landing-btn-hover-shadow: #114e4e;
$landing-btn-hover-text: #2f9f8d;
$landing-btn-hover-bgd: #fff;
$footer-border: #d8d8d8;
$footer-txt: #6b6b6b;


// Profile
$header-bgd: f5f5f5;
// ------ Design
$icon: #2f9f8d;
$legend:  #5e8881;
$arrow:  #59706c;
// ------ Fill 
$label: #114e4e;
$input-border: #2f9f8cc9;
$placeholder: #c5c5c5;
$btn-addfile: #fff;
$btn-addfile-bgd: #ec2b11cc;
$btn-addfile-shadow: rgba(0, 0, 0, 0.32);
$img-thumbnail: #2f9f8cc9;
$txt-msg: #114e4e;
$container-line: #d8d8d8;
// ------ Share 
$btn-share: #fff;
$btn-share-bgd: #2f9f8c;
$btn-share-border: #2f9f8cc9;
$btn-share-bgd-disabled: #d5d5d5;
$txt: #fff;
$txt-url: #c93825;
$btn-tw-border: #a0c0cf;
$btn-tw: #fff;
$btn-tw-bgd: #00a0f5;
$btn-disable-txt: #fff;
$btn-disable-bgd: #d5d5d5;
$btn-disable-border: #d5d5d5;
// ------ Preview card
$btn-reset-bgd: #bfcdd0;
$btn-reset: #2f9f8cf1;
$btn-reset-border: #2f9f8c9a;
$btn-reset-bgd-hover: #fff;
$btn-reset-hover-shadow: #114e4e;
$txt-fullname: #114e4e;
$txt-job: #54585a;
$card-border-left: #438792;
$card-bgd: #fff;
$card-icon: #114e4e;
$card-icon-border: #a2deaf;
$card-icon-hover: #438792;
$card-icon-hover-bgd: #a2deaf;

// Gradients & shadow colours
$gradient-main-bgd: linear-gradient(to bottom, #f5f5f5, #fff);
$gradient-preview-bgd: linear-gradient(to bottom, #bfcdd0, #dde9ed);

$black-32: rgba(0, 0, 0, 0.32);
$black-20: rgba(0, 0, 0, 0.2);


// COLOUR PALETTES
$palette1-icon-border: #a2deaf;
$palette1-txt-icon: #114e4e;
$palette1-border-left: #438792;
$palette1-icon-hover: #438792;
$palette1-icon-bgd-hover: #a2deaf;
// ------
$palette2-icon-border: #e95626;
$palette2-txt-icon: #420101;
$palette2-border-left: #bd1010;
$palette2-icon-hover: #fff;
$palette2-icon-bgd-hover: #e95626;
// ------
$palette3-icon-border: #a0c0cf;
$palette3-txt-icon: #3e5b65;
$palette3-border-left: #eab052;
$palette3-icon-hover: #3e5b65;
$palette3-icon-bgd-hover: #a0c0cf;
// ------
$palette4-icon-border: #90e0ef;
$palette4-txt-icon: #0077b6;
$palette4-border-left: #00b4d8;
$palette4-icon-bgd-hover: #90e0ef;