@media screen and (min-width: 768px) {
  .section__form {
    background: linear-gradient(to bottom, $white-four, $white-two);
    width: 50vw;
  }
  .central-column {
    padding: 0;
  }
}
.headerdesign {
  display: flex;
  padding: 10px 0 7px;
  gap: 10px;
  justify-content: left;

  .fa-regular {
    font-size: 1.8rem;
    color: $dull-orange;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $gunmetal;
  }

  .fa-angle-down {
    margin-left: auto;
    font-size: 1.8rem;
    color: $gunmetal;
  }
}

.contentdesign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 30px;

  &__title {
    margin-left: 19px;
    font-size: 1.4rem;
    color: $gunmetal;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.design1 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $dark-green-blue;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $dirty-blue;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $hospital-green;
    }
  }
}

.design2 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $dried-blood;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $rusty-red;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $tomato;
    }
  }
}

.design3 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $slate;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $faded-orange;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $light-grey-blue;
    }
  }
}

.design4 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $honolulu-blue;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $pacific-cyan;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $non-photo-blue;
    }
  }
}
