.share__button {
 color: $white-two;
 background-color: $dull-orange; 
 text-transform: uppercase;
 font-size: 18px;
 height: 50px;
 width: 200px;
 border-radius: 12px;
 border: solid $dull-orange;
}
.fa-solid fa-share-nodes {
    color: $dull-orange;
    font-size: 1.8rem;
}