@media screen and (min-width: 768px) {
  .section__form {
    background: $gradient-main-bgd;
    width: 50vw;
  }

  .central-column {
    padding: 0;
  }
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.lbtext {
  color: $label2;
  font-size: 1.4rem;
  font-weight: 600;
}

.headerdesign {
  display: flex;
  padding: 10px 0 7px;
  gap: 10px;
  justify-content: left;

  .fa-solid {
    font-size: 1.8rem;
    color: $icon;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $legend;
  }

  .fa-angle-down {
    margin-left: auto;
    font-size: 1.8rem;
    color: $arrow;
  }
}

.headerdesign:hover {
  cursor: pointer;
  background: $gradient-preview-bgd;
}

.contentdesign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 30px;

  &__title {
    margin-left: 19px;
    font-size: 1.6rem;
    color: $legend;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.design1 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $palette1-txt-icon;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $palette1-border-left;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $palette1-icon-border;
    }
  }
}

.design2 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $palette2-txt-icon;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $palette2-border-left;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $palette2-icon-border;
    }
  }
}

.design3 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $palette3-txt-icon;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $palette3-border-left;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $palette3-icon-border;
    }
  }
}

.design4 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__palette {
    display: flex;
    flex-direction: row;

    & .box1 {
      width: 30px;
      height: 25px;
      background-color: $palette4-txt-icon;
    }

    & .box2 {
      width: 30px;
      height: 25px;
      background-color: $palette4-border-left;
    }

    & .box3 {
      width: 30px;
      height: 25px;
      background-color: $palette4-icon-border;
    }
  }
}
