.header__landing {
  background: $white-four;
  height: 158px;
  padding: 0 35px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  & .imagen {
  height: 63px;
  //padding-bottom: 35.4px;
    @media screen and (min-width: 768px) {
      height: 105px;
    }
  }
  @media screen and (min-width: 768px) {
    height: 45vh;
    padding: 0 174px;
  }
}
.header__profile {
  background-color: $white-two;
  height: 111px;
  display: flex;
  align-items: center;
  padding-left: 40px;

  & .imagen {
    padding-bottom: 0;
    height: 50px;
  }
}
