.landing {
  background-color: #f5f5f5;
  margin: 36px 35px 30px;

  &__h1 {
    font-family: "Merriweather", serif;
    color: #e17334;
    font-size: 19.2px;
    font-weight: 900;
    text-align: center;
  }
  &__p {
    color: #114e4e;
    font-family: "Open Sans", sans-serif;
    font-size: 12.8px;
    text-align: center;
    line-height: 1.28;
  }
  &__icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    margin: 18px 0 38.6px;
    &--icon {
      font-size: 22.4px;
      color: #e17334;
      display: block;
    }
  }
  &__button {
    border-radius: 21px;
    background-color: #438792;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    margin: 60px 75px 30px 65px;
  }
}
