.landing {
  background-color: $white-four;
  text-align: center;
  padding:35px 26px 40px;
  height: 50vh;
  @media screen and (min-width: 768px) {
    padding:31px 0 60px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--h1 {
      font-family: $font-main-title;
      color: $dull-orange;
      font-size: 1.9rem;
      font-weight: 900;
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
    &--p {
      color: $dark-green-blue;
      font-size: 1.28rem;
      text-align: center;
      line-height: 1.28;
      margin-top: 4px;

      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        margin: 4px 216px;
      }
    }
    &--icons {
      width: 238px; 
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      font-size: 1.28rem;
      color: $gunmetal;
      margin: 18px 0 38.6px 0;
      border: solid 1.6px rgba(225, 115, 52, 0.2);
      border-radius: 4px;
      padding: 15px;
      @media screen and (min-width: 768px) {
        width: 325px;
        font-size: 1.6rem;
        margin: 27px 222px 60px;
        padding: 15px 20px 22px;
      }

      & .icon {
        font-size: 2.24rem;
        color: $dull-orange;
        display: block;
        @media screen and (min-width: 768px) {
          font-size: 2.8rem;
        }
      }
    }
    &--button {
      border-radius: 21px;
      background-color: $dirty-blue;
      color: $white-two;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 14px 22px;
      margin-bottom: 10px;
      display: inline-block;

      @media screen and (min-width: 768px) {
      }
    }
  }
}
