@media screen and (min-width: 768px) {
  .main {
    min-height: 75vh;
    display: flex;
    flex-direction: row-reverse;
    background: $gradient-main-bgd;
    padding: 20px 40px 20px;
    gap: 30px;
  }
  .preview {
    width: 50vw;
  }
}

.preview {
  background: $gradient-preview-bgd;
  display: flex;
  justify-content: center;
}

.columnsection1 {
  padding: 0 40px 45px 40px;
}
.preview__button {
  width: 100px;
  height: 30px;
  background-color: $btn-reset-bgd;
  text-transform: uppercase;
  color: $btn-reset;
  border: solid 2px $btn-reset-border;
  border-radius: 20px;
  font-size: 1.3rem;
  margin: 50px 0 25px;

  &-icon {
    margin-left: 5px;
  }
}
.preview__button:hover {
  cursor: pointer;
  width: 110px;
  color: $btn-reset;
  background-color: $btn-reset-bgd-hover;
  box-shadow: 0 4px 20px $btn-reset-hover-shadow;
  transition: all 0.2s ease;
}

.container_namedescription {
  border-left: 5px solid;
  border-color: $card-border-left;
}

.card {
  width: 240px;
  background-color: $card-bgd;
  box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 $black-32;
  &__name {
    text-transform: capitalize;
    font-size: 2rem;
    color: $txt-fullname;
    font-family: $font-secondary;
    font-weight: bold;
    margin: 0px 25px 15px 25px;
    padding-top: 20px;
  }
  &__description {
    font-size: 1.6rem;
    color: $txt-job;
    font-family: $font-secondary;
    padding: 0 25px 15px 25px;
  }
  &__img {
    background-image: url('../images/chica.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 245px;
  }
  &__nav {
    display: flex;
    gap: 10px;
    padding: 12px 0 12px 20px;
  }
  &__icon {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: $card-icon;
    border: solid 2px $card-icon-border;
    border-radius: 50%;
    padding: 7px;
    height: 16px;
    width: 16px;
  }
}
.card__icon:hover {
  color: $card-icon-hover;
  background-color: $card-icon-hover-bgd;
}
.palette-1 {
  .card__name {
    color: $palette1-txt-icon;
  }
  .container_namedescription {
    border-color: $palette1-border-left;
  }
  .card__icon {
    color: $palette1-txt-icon;
    border-color: $palette1-icon-border;
  }
  .card__icon:hover {
    color: $palette1-icon-hover;
    background-color: $palette1-icon-bgd-hover;
  }
}
.palette-2 {
  .card__name {
    color: $palette2-txt-icon;
  }
  .container_namedescription {
    border-color: $palette2-border-left;
  }
  .card__icon {
    color: $palette2-txt-icon;
    border-color: $palette2-icon-border;
  }
  .card__icon:hover {
    color: $palette2-icon-hover;
    background-color: $palette2-icon-bgd-hover;
  }
}

.palette-3 {
  .card__name {
    color: $palette3-txt-icon;
  }
  .container_namedescription {
    border-color: $palette3-border-left;
  }
  .card__icon {
    color: $palette3-txt-icon;
    border-color: $palette3-icon-border;
  }
  .card__icon:hover {
    color: $palette3-icon-hover;
    background-color: $palette3-icon-bgd-hover;
  }
}

.palette-4 {
  .card__name {
    color: $palette4-txt-icon;
  }
  .container_namedescription {
    border-color: $palette4-border-left;
  }
  .card__icon {
    color: $palette4-txt-icon;
    border-color: $palette4-icon-border;
  }
  .card__icon:hover {
    background-color: $palette4-icon-bgd-hover;
  }
}
