.landing {
  background-color: $landing-main-bgd;
  text-align: center;
  padding: 35px 26px 40px;
  height: 50vh;
  @media screen and (min-width: 768px) {
    padding: 31px 0 60px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--h1 {
      font-family: $font-main-title;
      color: $landing-title;
      font-size: 1.9rem;
      font-weight: 900;
      text-align: center;
      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
    &--p {
      color: $landing-subtitle;
      font-size: 1.28rem;
      text-align: center;
      line-height: 1.28;
      margin-top: 4px;

      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        margin: 4px 216px;
      }
    }
    &--icons {
      width: 238px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      font-size: 1.28rem;
      color: $landing-box-text;
      margin: 18px 0 38.6px 0;
      border: solid 1.6px $landing-box-border;
      border-radius: 4px;
      padding: 15px;
      @media screen and (min-width: 768px) {
        width: 325px;
        font-size: 1.6rem;
        margin: 27px 222px 60px;
        padding: 15px 20px 22px;
      }

      & .icon {
        font-size: 2.24rem;
        color: $landing-icon;
        display: block;
        @media screen and (min-width: 768px) {
          font-size: 2.8rem;
        }
      }
    }
    &--button {
      border-radius: 21px;
      background-color: $landing-btn-bgd;
      color: $landing-btn-text;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 14px 22px;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}
.landing__article--button:hover {
  cursor: pointer;
  height: 18px;
  width: 110px;
  color: $landing-btn-hover-text;
  background-color: $landing-btn-hover-bgd;
  box-shadow: 0 4px 20px $landing-btn-hover-shadow;
  transition: all 0.2s ease;
}
